:root{
    --veryDarkBlue: hsl(233, 47%, 7%); /*(main background)*/
    --darkDesaturatedBlue: hsl(244, 38%, 16%);/*(card background):*/
    --softViolet: hsl(277, 64%, 61%);/*(accent):*/
    --darkViolet: #7800c2;/*overlay image */


    --white:hsl(0, 0%, 100%);/*(main heading, stats)*/
    --lightlyTransparentWhite:hsla(0, 0%, 100%, 0.75);/*(main paragraph)*/
    --lightlyTransparentWhite2:hsla(0, 0%, 100%, 0.6);/*(stat headings)*/
}