html{
    

}

body{
    height: 100vw;

    font: 400 1rem 'DM Sans', sans-serif;

    background-color: var(--body--color);
}

.title{
    font: 700 1.875rem 'Poppins', sans-serif;
    color: var(--title-color);
}

p{
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--text-color);
}

.button a{

    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--white);
    
}

.button{
    width: 13rem;
    height: 3.5rem;
    padding: 0 0.2rem;
    

    background: var(--green);

    border: none;
    border-radius: 0.25rem;

    transition: background 0.3s;
}

  
  .button:hover {
    background: var(--lightGreen);
  }


  .divider-1{
    height: 1px;
    background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
  }

